h1.title {
    color: #fff;
    text-align: center;
    text-transform: uppercase;
}

p.game-instruction {
    color: #fff;
    width: 400px;
    text-align: left;
    font-style: italic;
    line-height: 1.3em;
}

.main {
    margin-top: 10%;
    background-color: #282c34;
    display: grid;
    grid-gap: 10px;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 300px 1fr;
}