.box {
    background-color: #444;
    color: #fff;
    border-radius: 5px;
    padding: 20px;
    font-size: 150%;
    text-align: center;
    text-transform: uppercase;
}

.box:nth-child(odd) {
    background-color: #ccc;
    color: #000;
}

.typed-letter {
    background-color: #61dafb !important;
}